.btn {
  display: inline-block;
  padding: .5rem 1.25rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  background-color: #3072b3; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #599bdc), color-stop(100%, #3072b3)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #599bdc 0, #3072b3 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -moz-linear-gradient(top, #599bdc 0, #3072b3 100%); /* FF3.6+ */
  background-image: -ms-linear-gradient(top, #599bdc 0, #3072b3 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #599bdc 0, #3072b3 100%); /* Opera 11.10+ */
  background-image: linear-gradient(top, #599bdc 0, #3072b3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bdc', endColorstr='#3072b3', GradientType=0); /* IE6-9 */
  border: 1px solid #2967a4;
  border-radius: 6px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
  font-family: "Helvetica Neue", Helvetica;
}
.btn:hover {
  text-decoration: none;
  background-position: 0 -15px;
}
.btn:active {
  background-image: none;
  background-color: #3072b3; /* Old browsers */
  box-shadow: inset 0 5px 10px rgba(0,0,0,.125), 0 1px 2px rgba(0,0,0,.2);
}
